div#load_screen{
    background: #000;
    opacity: 1;
    position: fixed;
    z-index:10;
    top: 0px;
    width: 100%;
    height: 1600px;
}
div#load_screen > div#loading{
    color:#FFF;
    width:120px;
    height:24px;
    margin: 300px auto;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.vakje{
    background-color: #f5f5f5;
    width: 120px;
    height: 20px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.support-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 233px;
    height: 233px;
    background-image: url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAOkAAADpCAYAAADBNxDjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDozMjhFNzZGREE2NDUxMUU0QkRBQjgyQUVBQkQzQUQyMiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDozMjhFNzZGRUE2NDUxMUU0QkRBQjgyQUVBQkQzQUQyMiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjMyOEU3NkZCQTY0NTExRTRCREFCODJBRUFCRDNBRDIyIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjMyOEU3NkZDQTY0NTExRTRCREFCODJBRUFCRDNBRDIyIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+7O6Z0AAAHIdJREFUeNrsnWmoVdX/xnfpG3+mkc3ZqFlUNFhGWYaUEl2kgUawgbKoaHgRNECGDVA0QS+ySImK5jCpaBKxwrJBGmiWJm2wMi0tbQDpxb/Pgmf/1113n3Puufcc797nPg8czr17WGvtfdazvmt41ve72ZQpU17Osuy4zDCMUmLz/z5d/30W+FUYRnlJmpmohlF+kpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohlEBkpqohtEGDG1DmhC1Es7NjjnmmGyvvfbK5s2bl/322289jt933329ur4vuPjii7Mvv/wye/XVV3ucO+uss8L3o48+OmgqYr33Uetc/J723HPPbOrUqdmiRYuyr7/+usf9f/75Z7f3qevHjBmT/fXXX9kvv/zS7Xcl7S222KJHWdJ0VC8OPvjgbPjw4dk333zT8t9taJveeSWIOmLEiOzUU08Nf8eEPO6448JL//nnn7PnnnsuP3722Wdn//vf/3qQty8g36effrqwUk6cOHHQkbTe+6h1Ln5Pu+66a7gOMqck5fgXX3yRv08IeO655/bIZ9q0aeE4RCXtvffeu8c1cTrgxBNPzC6//PKc3EcddVQgdyvqSLtJWgmiQsALLrggO+yww/KXuvXWWweCgoMOOign6SGHHJLtsssu2YIF/9+b59oDDzww/P3RRx/lPxStNJWGSqW/v//++7zy0PKC7bffPvwd30s+NAS6Lr6vVn4p4utUseMyxdYkPhbnpzLWur7ouVLrAtLzaRrr1q3Ly1r0PloNSAURf/jhh2z27NnZ+++/n5d3p5126pYvhLz00kvrpnfssceGey655JLw/dRTT2X7779/JSxpZYj63nvvhdaPCkNlmjRpUjjOC58wYUJ+3dFHHx2+X3vttfB95ZVXBosr/PPPP9n9998fSE03itabrrEsNXjooYdCK3zttdfmrS6fW265JSfDjBkzQmMAuA4LQrlo/c8444xs2LBheX5UiNTaptddccUV4aMyxaRLj5HfBx98kO22226B6OCiiy7Kbr/99lCZdT2NWPzsNFx33nln3shcffXV+f3peaUBISALz17vfbQaJ510Unh3/H4xIfuaX0xiPTPd5zJPHFVuMumFF17IK4+sJz/i888/Hyo6lQ4ceuih4UdVy7tq1apQmbgPUvz999+hAsTAMjAe4sO9XBfnBQH5O64g/Oi04Hw4h4VX60+DQhqkx98ck8USjj/++GzZsmV5uSBykaWrBQhIQ8T9PB9WHdLF2G+//UIZSP+NN94IhKVxoKG74YYbwrvQeZ6R8/yflvPuu+8OVrPe+4jfJc8af9TjaAY0gLy73ljqbbbZJv/99OEZa/VeaIgoE++8Spa09BYV0vGDqcuL9eRHfPnllwMJZEH5EahEAhZMlQV8/vnnwQrEoDulykDFj61qMzjyyCNDOjfeeGNu5fmbhoQ840r966+/Zvvss0+wFOTZ7LgW0qnrT7qyeHFjcPPNN+fEpxxUSsZwjMVo2OLzpMXkDO8xHqfNmTOnKeslK1s0RmwWTBLVmryKJ4b4zdPfrGjMCy677LJAahopNeRVI2mpifruu+/mrT2V7MMPPwxEoOuHBRWYOdSPd++994ZWkzGXWt0UrRpXMWsI+VKQ93bbbdft2KxZs0KF4Xn4UIk51tcK/NNPP/W4Jq2kadnS88uXL8/H+X3tXtJ48InBRF4KGpUiqAtKLymeg6g3wdSbManA78Dv0WqCbqrubum7vhpnqtVcsmRJXrkg5OTJk8NEgyrfaaedFo4z1uNH5APR2wUqGI1APM7jbyZgVqxY0eN6rBvdRiw/M5RdXV09xk2gaIkBqxeDcTX4448/8mMaAig9yhaPw+LzgIkU3l9/QOMBseMP3WqBbnM845tOYPFbag6CLq+Wb1oF1YN2YOgAcKJ0FlVdXioc1lMWEMsJcbGuS5cuza+nS6SxJUSh9YbIzUAtOss8LAXF3VIqPF1WxqI77rhj6E7edttt2U033ZQtXLgwnwABzz77bDfCYOFpdOiWCRs2bAgfcM0114SJHMgXT/7EY1K6yrwHTXxhUXhH6lUwRn388cfzcpAv3VeIQreW83TFscLkQUPB+LOv76M34DfjuciPia4333wzvDuWVUibNVANQXbffffQhR87dmzec9CMbNzYaEyaosgK33PPPT0mkqpM0lISVWPGjz/+uFu3DQtAy6uursajO+ywQ255qSBM1qRdunpg7EJlZo0t7caJkJyDIOTNJA4zrRwDlIs00q4lz0HFVNmouFpGGjduXL4GTLqq1DE4tscee+THKRsVOwYEZOmKxotnh4Dqvs6cOTP0MLQOyXlmteP15mbfR2/BxA0NKM+v34LnfOCBB/KGl28aIYYEzD9oFpzj9DxiAhaNSWuRlKFP0ZCnFdhsypQpA8kNh10sEWgM0oqaTqxQaTUbW2bQ5f7222/btt66KbH5AOdvra/R1iFMJ2BIOlEwAHjsv8/h/332dNUaWNBlYyxbNBkFRo4cGcZwTL4Ymw4D3d1119cwSt7dddfXMCpEUhPVMCpAUhPVMCpAUhPVMCpAUhPVMCpAUhPVMCpAUhPVMEkrUk4T1TBJTVTDMElNVMMYBCQ1UQ2T1EQ1DJPURDWMQUJSE3UQAB9Fqc+kwYahHfAMlYk9I+AEK3aYhV8d/Bj1xdPcQMSNgTT4MpLD6/68h3plxxMEfo/WrFnTMV4W+oIybPpuBSq1cfyII44IfoSefPLJ4BuJzdSnn3567tcX3zqQeNSoUcExl4ixcePGbN999w2OzzjOdfgi4rohQ4Z026zN9TgzW79+fXDEFUPpc8/atWtr5okjaP7ng9NwpY+DtPHjxwfnZqTPfZwjT5UrTSvNd7PNNqtZdl2LN3/I+cwzz2S///57eHbewejRo0O5a+VT79l1rt67Il3lxXd6PdZd1/I3v6XOx++MZ0zzH6yWtJIWFXeUse9ZOf6iwuCUCx+uOLbC6TYuOqmweE7gPjwULl68ODgdoxIB/L4qPRxt4WWeaxVmQg7LFKwIB12kQ2iMlStXFuaJLyMsGSBv/Nyed9554RjXnXLKKcHVJ2EiOAeh+B/n2Pji5RpcnWJx03xffPHFwrILePTjfvKlp4H3QhyxyUP8lltuWVjm66+/PqRL/jx37KwaL4LbbrtteC84KqNcRdeTtvKinDg2i2PkcI7YLw8++GBeXp6f9653JkfZrbD+nUTSShGVCsAPjvtKPNTLEztkVEwZWnQ87WlM9sorr4SuIZYMb31UMvkMjp2HqfIQCInKQ8WhgpEeoR9w60nFlQ9e3IAqrozcgpIHgHhUfo5zDWV55JFHAkFj95UcE9GowJAMF6A4LqM8RfkKlF1hJYG8yEOMTz75JD/PO1PUM1xopu+J7jH5KpyHQl2IpFhEnoHoBKRBmkXX4zExzosQF7gu5X3jRZ93ju/lzz77LO/yUx6OqQEmjIbHpBUnqiwRVoVWnFYY4KOWj1x3Alp2IG/ydDPlirIIqjhUltjNJKTlPlVatfJUciqujlEefNYC+aXVtSpLChFUDQgEU6yWWvk2C9LUvUXvCaTuV+MwFHfddVfosUA+DS1qXR/nRbwgrCKNDSSFyLhcJf/YJSoNSvzt2d2Kz/pSCbBE/PhUFIX/o1unwEWyPo1CMuCJXtZJIRrplpJ+HAKCdBgjacKGa/lQMWUFFJqwkUd+ETC1ivQK6CKStxx318o3LjvXYDH59GYSrOg9UWYFxlLAqdja02vBty9+gumSNrpeoHHhPdL44ROYeyAiZeA+3dvKmKSDgaSVIKoqAJWNcQ6VFcfYeFOnW8ZHAaNqAStAt5LuHt030qMi4cCa++NQDIBGga4Y91Fhd9555+A8mkrLMaxNo5lmhXjgepFb4F7GcHxD2Hr5pmVvBkXviTLz3KTHMd6pGgMaH2KJyrE3Q4d616fgeho/Oe6GkKtXrw7386FXlDZYrUKZvAW2C/ZCaFQamw+CZ7TgwTBJTVTDMElNVMMkNVENwyQ1UY2OA7PB7ZrVFYYO0ndbKQkhQgdULkXLIihd3n777W5ri6xHsvaHgAD1DOt7VCbUTPE6IOmuWrUqVxoRs5PFesAa4Ny5c3M5Iddq4Z5zWvZAtxqDsgDit5KvRBqxGD8V1qP0YdmG8hJ3lfXVNJ4p6aR5tSuydjPgnc6fP7/hWrZJ2kFElZhAWlH+R4er6OIxUansqF5QFanCS3TOeidpoKPVGiTXxqDSky73QCIkgIpsfeaZZ4Y0UOdMmjQprGfqHIv3XEvDAWGl22UNkTw5L0LxTb7ko8V+BAwC2lmkeUj8UFKxeUBRydOysi4ZBxim3IhAYoLwrEQcR3BAw4RCSv/zLgUpp/Q+a6WFFjm9Jj4Wo9F5k7QDiIqkbvr06UHdIvE7KhlIiNiAyh3/+IgDWIjHakJYiEplbNbCdHV1BQURGl2Bv6VHZYcJ52kssHCyrpLNsZCPfFAVPA0yDJGxlIRVjEkAabDckD+NWF6EOA+RAlF8Kn7nfRQJ52loJH5HFUVPQLpdFFrDhw8P6Uu/zL08N5YdnW7RxoG421sk+PeYtMPGqEuWLAmVhu4TMUBRyEhojoA9rhQSnHOeChfvT42tFJUqrtgQTx8aAlm2WD4oIH1jKyPEZNcNSh1UQqTbzDhs+fLloXsMWWJrpvxjgpJuLfURYn3y50P5aSR4T4jfgcTvsXCeBov3IzJK/C6rro0EkydPDhpdwL1g4cKFgbxqmNg4gDqLPGLNrrq9NKrkx3UTJkxo2Wb1oeZoeSwqFYLWXq11EXEEKgnnsUKQjC4llVOEVDdSY0KBBkCgmyrEQnwB2Z3E4jQQfGTtsbDNaFVpTMaOHZvNnDkzW7p0aThGt1DElFWmu8jWt6IxHvLJNM8i8TtlqyWcj8XvkA3pIr0V3qV6KZILQn4aJsgH0o0DMeptjLAl7SCLSms+Z86c0BqnAncqkqwX1oj9kKrsjPeohJr0iQma7jih8usjXe+8efNCxYstJOTH0lHRIabOYVW+++67Pj2fun90fUUGyg35ZWEZkzayqDGKxO+9Fc7z3LxHpLFoc2Nrzo4jGk16EOPGjSvcOJB26ZvdGGFLWkGLSpcQK8K4KiYC3S5acSwYXSkmdaiQsVWhkvO/xnlKTxaI8WAtUKGxRnTZdA/k4RjdPCwCXe/4HBW8L2Bcx4SUMGvWrDCrrGdhtwzlxRpC5rii093lI0A+zkMwJrgYEsSWkPG6GiJZ7fS5eY90TbVVT9ac30Abv3kPgG/GsUWNFIJ/tq/xjiA5s+qtmjwaDAL7vsCi/EEAyKQJo1ZN8rQD7u6WfDLJaA/oSmP1mAN47LHHSl1WW1JbVKPksCW1RTVMUhPVMExSE7Xu2EvLG1rS2BSi8FaD8vZVHNBfL/jNunYxSU3UpoDoQTI9lncASy1yfFYWoCBKwTqvyEV5KXezYL0X0QZrl71tmJBYahNA/N4GCl4nbZ6opZlMogKz/idZXaw4okIiaGAGs2iNsCgt1kOlXeVerfPJEq9bty4cR0wPaSRcj/PmW1paId00oPxIRxI8KaZqbSyILWqad2ztUm0vWl3yQZm01VZbhU9aBo4JPCPKqPR96v/02dJ8Y9kjadk59iAnKgvrWuNDFYQkDWUSqiDW/wC7R5DC1ROwp57dUc8gmhdJZYkRRLDAz3Xyji8P8Vgb7gEQUs62tW2Oyh0fl0d+PlJXcT9b3Sjr4Ycf3m1jAWXif+mX5ZkfIsSaZnmShxypF3wRXu9C28xwyh17nS/yrC9LT2OCS1B01kX52oO9idoNyNOk3iFWCxWCb0jK+h/kS/dgFqHIs3s9iAR0JVELqUFAfA5hsVAocIhzgxJIu1x0XOoeZI1SGtEtj6V7EJlNA9qrqTIpL7S6ajyKPMmTLmWJveBrq10RYq/zRVEBeM88A8+ORBDn4ZvKg73HpBUeo1Jp0K1iRZG2ofuNd1/0VpZGBTzggAMCUetVZEB+sg5YVoTsQixQB3Sf2cQty6XjGg/XkyrWyjsmFWATAATX7ph0z2xv0cjrvJ4Ba0zvpV6+9mBvonYD1kh7ULE4fGPdGnmgj5F6dleXlTEdn9hBN8fVCKARphsaT7joGw0u40a6fbqexoTjtYTnyi8tW70Jn2Y9yUMujUfrETqOCtCKfE3SQUxUWnEqk3bE8I11U5etEYo8u0MiuolYVjY/s4E5tmA0AuTLmA8XKwLWmOOMQbHOWFy2eTE24ziNicTqKRDVkx+7RwRtLKAMkLUIzXiSpww0GnwzHo3jxKTXNfKsbw/21UTHSwipsGk0tbhipx4ZDFtSW1RjUMCW1BbVsCW1RTUMk9RENUxSw0Q1TFITtdRgqSbWpfYH/dnRUgW0+vlMUhO1V9CifSvQ1x0t7QKESl2flun5TFITtS7i/ajpcS30F7nf5H8t7kOC+P8ikqTnlV6av/bC8i1rpfzT9NN01RvgE5cX4QI7btI0lG5sFWuVS/m1o4fgJZhNi8osz1DZkAqiMGIXCd+omXDlGe/+AFgh1DnsSqkX7gFJIYojNL0SRRSdR+OLOEKKoHj3DEJ2lYfjeLDXdjfURCpDUboKMwGUBoJ9xPrci8pKmwQgYFFYibhc8Y4Y3HlynTTFfLcqoNQQwggYmwy4pTucRr3sBaWyf/XVV0Gmh2QPb+4//vhjsDjsT+U4u22QFFI5169fH/ZhvvXWW9k555yTffrpp9nIkSODw2+0vC+99FIgJ3pfSASBRo0aFYJBQWadP/nkk0O6pHHHHXcEWSFC/KuuuiqP3/L6669nt956azZkyJCQP76In3jiiWz8+PFhb2itfNnW9u+//4ZnQzZ5/vnnh50skG706NGBVMS9AWvXrg3XrFixItu4cWN2wgknZA8//HAo13XXXRcaDLaysYMIh97sNiI/yo4zbcpB3q2At6oNTNe39BaVnR6xeF7aYATqWJA4Fgpi82bDPQBE7PFGAMgYO79Od9Vo9wze5fWN9dOuHGLOAPaH1sqXoE9A99QKBcFmgFphJeIdMdoKqPcDeG+92SLoManHqP0C4nERMd4JU2v3R1/CPUBKuqAaB2rDuZDuqult2IbehpmIISKqLI3CSsSArLwf3ZsGc7IltUVtC2bPnh3GWVgjCMIGbgAhGYOy8wNgaeTKpNlwD5AOqxeHryDshKBdNeQfh6ZohN6GmYjLwRiZvBQUijLVCysRg64vQZP1HDRS9EQ8ceTJpI6Gd9W4u+uur1EZ2JLaohq2pIYtqmGSmqiGSWqYqK0FyxWsRXYiJDtslc8jk7SEWLRoUccTFSkfYoF6SMM9VKXxYbmINV/54TVJTdQBrZASvKeC+lRonordCe+gtc8i4TvXITPkE4vh03RqlUHnmhHIF1lAHSvaZFCUfldXVzZs2LAgykDn3Ap4drecBM3/njp1amlnfSWkl2AADS+CdzStiNoXL14cFEiIH9D8ShSPdpZvQlOwFopD7lT4jpgCgT9AyVRLjI+sLy0D6YPeCuTR25I2jsUVDoM0CHVRFCJDjQX5c470cXtKuA/SQRZJHhLr9xdWHFXAopaZqEChH6jEaGOprAopATHQ8wK0t8RMgZip93osK/dhnaTcicM90CDQRYY0AGLz94IFC7qVQeEnuAfhPfcgPUQTrN07aciIDRs2BPKjlkI5hdXkPGmQh0JvQFyRlAZEpKXM+AZmjI3aCJK2ageMSWqi9htx6Af+FvliCyJyYO2wOkVoJHyvJ5ovCj/RjECetOPwGdpup4anVldfMW24j/uJDwPhWw2PST1GbSuwqJALS4d1iQnVGyjcQ7Oi+WYE8qQdh8+A4OiR0QyzJU9d8jhODg2EJoYU2rGZ0B62pLaopQEWlS4ggnesXDMkxWoyrmRvKF3UZkTzzQjkKaOuZ9IHAq5cuTL8r3Ex1phrZIUZbxJug240ZOYc6bQjKrgnjko+cVSEqhHVcHfXXV/DJDVMVMMkNUxUwyQ1UQ2T1DBRDZPUGGxEbceSRiOwXtqqkBomqdFxRE13vqDv3dSQYKJZIDNshwd7k9RELQ1q7XyRRU2tWxzqosj61gtRER9Ld77MnTu321p1rTAZOg7Ih00E6IRbTVSLGcpJtH6nUUXBg0JbAO18qRXWoSjUhbS3jUJU8KkVAgPVkOR/COyLrmEzAPlrxw7AnSlpch1e8dPy9QeWBXawRa2ihDDe+SKku1YQssdEgHzoaON7tE1Mu3EkhsfTPNfRpYZ88a4aZH7aTSNLXLTzBk/5a9asyRsU7ZqZOHFiNn/+/F478TZJjUoStQjprpVaoS5SwsffClGhXTqNQlyAWjtvyD/OT+XzxJExaMao2vlSC7VCXaQTUPouClHRKMQFqLXzhvzZpK5744muESNG1AzFaEtqdIRFTXe+FKFeqAuhUYiKRiEuZIWLdt6QPw1JHFYCQi5cuDDsYZ0+fXr4XyErPHHkiaOOnkzq6/vra4gKyMXYlE3orSCYu7tGx3d9NyXoomIdmVBqV0NpS2pLaovagbAltUU1TFLDRDVMUsNErYNUCtifMetAwEswJmpXp4xRWa9E9RNjxYoVYf2TSN79dVSN2L83aiIUUKBVvndtSY2OsajvvPNOkOWtXr066Gr5WzJDWdT+hqKIr9G5ovAUNA62pIYtagLkeXwQKRDqQlYPAuGUW1pfPNHXC0WBxcTygjgUhYDoHk0vggr0vLgNJQ3uwXrSSCBh9JjUsEVtEojn+UAoxA4QmlAUiPGxuLEWGJUShCOMBaL+IoKicBozZkwgt64H8sZvkhomahOoFYoCyd+MGTPygFGxVQZYxOHDh+fHCeoUh61g7ynnIanGotyTxroxSQ0TtQ9oJhSFQFAnCK8tbewxJQIcx+kaMy5dtmxZ0BObpIaJ2k8gAZw2bVr4jru09UAXFyE+GwCwxERQ436iqiG0166ZCy+8sGXltCzQaARLCAcYtqRGI1iZZJIaJqphkhomqklqmKiGSWqYqCapYZioJqlhohomqWGimqSGYaKapIaJapikholqkhomqmGSGiaqSWoYJqpJapiohklqmKgmqWGYqCapYaKapIZhopqkhmGimqSGiWqSGoaJapIaJqphkhomqklqGCaqSWqYqCapYZioJqlhmKgmqWGimqSGYaKapIaJapIaholqkhqGiWqSGiaqSWoYJqpJahgmqklqmKgmqWGYqCapYQwiopqkholqkhqGiWqSGiZqBxPVJDVMVJPUMExUk9QwOpioJqlhopqkhmGimqSG0cFENUkNE9UkNQwT1SQ1jA4mqklqmKgmqWGYqCapYXQwUU1Sw0Q1SQ3DRDVJDaODiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJiWqSGkbJifp/AgwAY70blSkdxAMAAAAASUVORK5CYII=');
}
.container {
    max-width: 960px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px 0 30px 0;
}
.container a {
    color: #454545;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}



/* navigation dropdown menu */
.navigation, .navigation-submenu {
    display: inline-block;
    list-style: none;
    /* btw this is necessary to remove most browsers's "hidden" default <ul> intent */
    margin: 0;
    padding: 0;
}
/* TODO */
.navigation {
}
.navigation.right {
    float: right;
}
.navigation li {
    float: left;
    margin-right: 5px;
}
.navigation .navigation-submenu {
    display: none;
}
.navigation li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #454545;
    background: #454545;
    color: #fff;
    float:none;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation li:hover .navigation-submenu {
    display: block;
    position: absolute;
    float: left;
}
.navigation li:hover li,
.navigation li:hover a {
    float: none;
}
.navigation li a:hover,
.navigation li:hover li a:hover {
    background: #fff;
    color: #454545;
}

.navigation > li.active a {
    background: #fff;
    color: #454545;
}
.navigation > li.active li a {
    background: #454545;
    color: #fff;
}

/* overview */
.overview-table img {
    width: 40px;
    height: 40px;
}

/* feedback boxes */
.feedback {
    padding: 30px;
    margin-bottom: 10px;
}
.feedback.success {
    color: #558f2d;
    background-color: #ddf2c0;
}
.feedback.error {
    color: #ff7272;
    background-color: #ffe5e5;
}
.feedback.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.header_right_box {
    float: right;
}

/* login screen */
.login-page-box {
    display: table;
    width: 100%;
}
.login-page-box .table-wrapper {
    display: table-row;
}

.login-box {
    display: table-cell;
    margin: 0;
    color: #777;
    background-color: #f4f3f1;
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: uppercase;
}
.login-box h2 {
    color: #252525;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    font-family: Arial, sans-serif;
    color: #252525;
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    /*text-transform: uppercase;*/
}
.login-box input[type="submit"] {
    color: #777;
    background-color: transparent;
    border: 2px solid #777;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    text-transform: uppercase;
}
.login-box input[type="submit"]:hover {
    color: #fff;
    border-color: #252525;
    background-color: #252525;
}
.login-box .remember-me-label {
    display: block;
    margin-bottom: 10px;
}
.login-box .link-forgot-my-password {
    display: block;
    text-align: right;
}
.login-box .link-forgot-my-password a {
    color: #777;
    text-decoration: none;
}
.login-box .link-forgot-my-password a:hover {
    text-decoration: underline;
}
.login-box ::-webkit-input-placeholder { color: #777; opacity: 0.5; }
.login-box ::-moz-placeholder { color: #777; opacity: 0.5; }
.login-box :-ms-input-placeholder { color: #777; opacity: 0.5; }
.login-box input:-moz-placeholder { color: #777; opacity: 0.5; }

.register-box {
    display: table-cell;
    color: #fff;
    background-color: #252525;
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}
.register-box h2 {
    color: #fff;
}
.register-box a {
    width: 100%;
    display: block;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.register-box a:hover {
    background-color: #ffffff;
    color: #252525;
}

/* error page */
.red-text {
    color: red;
}
